*{
    box-sizing: border-box;
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face{
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face{
    font-family: "Roboto-bold";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

.clearfix{
    clear:both
}

/* header */

.header_list{
    width: 100%;
    height: 50px;
    background: #E5E5E5;
}

.left{
    float: left;
}

.right{
    float: right;
}

a{
    text-decoration: none;
    margin: 0 auto;
}

.a{
    color: #333333;
}

.buauty{
    color: #F13C6E;
    font-family: 'Roboto-bold';
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    display: inline-block;
}

.item{
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16px;
    margin-left: 30px;
    padding: 17px 0;
}

.item1{
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16px;
    padding: 17px 0;
}

.a:hover{
    color: #c13a60;
    transition: 0.2s;
}

.fix-size-conteiner{
    width: 500px;
    margin: 0 auto;
}

.fix-size-conteiner1{
    width: 1100px;
    margin: 0 auto;
}

.logo{
    padding-top: 20px;
}

img {
    vertical-align: middle;
}

h3{
    display: inline-block;
}

.button{
    cursor: pointer;
    margin-top: 11px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 12px 26px 13px 27px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    border-radius: 40px;
}

.button:hover{
    cursor: pointer;
    margin-top: 11px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    color: #ff0080;
    padding: 12px 26px 13px 27px;
    background: #FFFFFF;
    border: 2px solid #ff0022;
    border-radius: 40px;
    box-shadow: 1px 2px 3px rgba(222, 15, 115, 0.956);
    transition: 0.2s;
}

.nomer{
    margin-top: 24px;
    margin-right: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.nomer1{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.hr10{
    border: 1px solid #EFEFEF;
    margin-top: 20px;
}

.color{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.color:hover{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #c13a60;
    transition: 0.2s;
}


.item2{
    padding: 30px 0;
}

.item3{
    padding: 30px 0;
    margin-left: 40px;
}

.fix-size-conteiner2{
    width: 730px;
    margin: 0 auto;
}

/* header-end */


/* MAIN */
.mainimg{  
    background-image: url('../img/Фон.jpg');
    background-size:auto 100%;
    background-repeat: no-repeat;
    padding: 100px 0;
    background-position:60% 0 ;
}

h1{
    padding: 102px 0 50px 0;
    font-family: 'Roboto-bold';
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.glinfo{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;  
    width: 308px;
}

.button1{
    cursor: pointer;
    background: #f83169;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 12px 26px;
    margin-top: 50px;
}

.button1:hover{
    cursor: pointer;
    background: #f64b84;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 12px 26px;
    margin-top: 50px;
    box-shadow: 3px 5px 3px rgba(92, 12, 51, 0.956);
    transition: 0.2s;
}

.butcolor{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.title{
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 80px 0 38px 0;
}

.card{
    width: 255px;
    height: 363px;
    background: #FFFFFF;
    display: inline-block;
    padding-top: 25px;
    background-size:auto 100%;
    background-repeat: no-repeat;
    justify-content: center;
    display: inline-block;
}

section{
    background: #E5E5E5;
}

.card-text{
    margin-left: 30px;
    width: 195px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    padding: 20px 0 ;
}

.styl{
    margin-left: 65px;
}

.knopka{
    cursor: pointer;
    background: #F13C6E;
    border-radius: 30px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 9px 40px ;
    border: none;
    margin-left: 62px;
}

.knopka:hover{
    cursor: pointer;
    background: #ffffff;
    border-radius: 30px;
    font-family: 'Roboto-Bold';
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 9px 40px ;
    border: none;
    margin-left: 62px;
    border: 2px solid #F13C6E;
    transition: 0.3s;
}

.money{
    font-family: 'Roboto-Medium';
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding-bottom: 20px ;
}

.margin-card ~ .left{
    margin-left: 26px;
}

.bonus{
    width: 540px;
    height: 212px;
    background: #F13C6E;
    margin-top: 100px;
    display: inline-block;
}

.bonus1{
    width: 540px;
    height: 212px;
    background: #F13C6E;
    margin-top: 100px;
    display: inline-block;
    margin-left: 16px;
}

.fersttext{
    font-family: 'Roboto-bold';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 35px 0 25px 40px;
    display: inline-block;
}

.secondtext{
    width: 280px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 0 25px 40px;
    display: inline-block;
}

.email{
    width: 225px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-left: 40px;
    border: none;
}

.placeholder{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    padding: 9px 0 9px 25px;
}

.pochta{
    padding: 52.5px 45px;
}

.mashina{
    padding: 56px 45px 56px 0;
}

.card-shop{
    cursor: pointer;
    width: 170px;
    height: 35px;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    margin-left: 40px;
}

.card-shop:hover{
    cursor: pointer;
    width: 170px;
    height: 35px;
    background: #f64b84;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    margin-left: 40px;
    box-shadow: 3px 5px 3px rgba(92, 12, 51, 0.956);
    transition: 0.2s;
}

.card-shop1{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.impuls{
    width: 1100px;
    height: 357px;
    background: #FFFFFF;
    margin-top: 100px;
}

.impuls_card{
    padding: 35px 60px 35px 62px;
    display: inline-block;
    border-right: 1px solid #EFEFEF;;
}

.hr{
    margin: 0;
    border: 1px solid #EFEFEF;
}

.impuls_card1{
    padding: 35px 60px 35px 63px;
    display: inline-block;
}

.conteyner1{
    margin-bottom: 80px;
} 
/* MAIN-END */



/* FOOTER */
.footer{
    height: 373px;
    width: 100%;
    background: white;
}
 
.footer_title{
    display: inline-block;
    width: 40px;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
    padding: 60px 255px 30px 0;
    border-bottom: 2px solid #EFEFEF;
}

.footer-silki{
    width: 60px;
    margin-top: 25px;
    display: inline-block;
}

.footer-silki-collor{
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 28px;
    color: #828282;
}

.footer-silki-collor:hover{
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 28px;
    color: #c13a60;
}

.silka{
    width: 99px;
}

.panch{
    margin-left: 186px;
}

.faat{
    width: 100%;
    height: 120px;
    background: white;
}

.messenger{
    margin-top: 37px;
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
}

.messenger1{
    margin-left: 20px;
    margin-top: 37px;
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    
}

.circle {
    margin-left: 20px;
    margin-top: 37px;
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
}

.circle:hover {
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    box-shadow: 3px 3px 5px rgba(194, 67, 129, 0.956);
}

.circle1 {
    margin-top: 37px;
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
}

.circle1:hover {
    margin-top: 37px;
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    box-shadow: 3px 3px 5px rgba(194, 67, 129, 0.956);
}
  
.circle-content {
    padding: 12px 12px 12px 10px;
    text-align: center;
}

.circle-content1 {
    padding: 12px 12px 12px 6px;
    text-align: center;
}

.circle-content2 {
    padding: 10px 12px 12px 14px;
    text-align: center;
}

.circle-content3 {
    padding: 10px 12px 12px 10px;
    text-align: center;
}

.button10{
    cursor: pointer;
    margin-top: 37px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 12px 26px 13px 27px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    border-radius: 40px;
}

.button10:hover{
    cursor: pointer;
    margin-top: 37px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    color: #ff0080;
    padding: 12px 26px 13px 27px;
    background: #FFFFFF;
    border: 2px solid #ff0022;
    border-radius: 40px;
    box-shadow: 1px 2px 3px rgba(222, 15, 115, 0.956);
    transition: 0.2s;
}

.nomer10{
    margin-top: 50px;
    margin-right: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.end-text{
    padding-top: 25px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    display: inline-block;
}

.end_contauner{
    background: #EFEFEF;
    width: 100%;
    height: 64px;
}

.end-text1{
    padding-top: 25px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}
/* FOOTER-END */